/*
 * Lao Sans Pro (Lao) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Lao Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('LaoSansPro-Regular.eot');
  src: url('LaoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('LaoSansPro-Regular.woff2') format('woff2'),
       url('LaoSansPro-Regular.woff') format('woff'),
       url('LaoSansPro-Regular.ttf') format('truetype');
}

