@font-face {
    font-family:"CustomEng";
	src:url("CustomEng.ttf");
	font-weight: normal;
	font-style: normal; 
}

@font-face {
    font-family:"CustomLao";
	src:url("CustomLao.ttf");
	font-weight: normal;
	font-style: normal; 
}