/*
 * Dhyana (Lao) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Dhyana';
  font-style: normal;
  font-weight: 400;
  src: url(Dhyana-Regular.eot);
  src: url(Dhyana-Regular.eot?#iefix) format('embedded-opentype'),
       url(Dhyana-Regular.woff2) format('woff2'),
       url(Dhyana-Regular.woff) format('woff'),
       url(Dhyana-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Dhyana';
  font-style: normal;
  font-weight: 700;
  src: url(Dhyana-Bold.eot);
  src: url(Dhyana-Bold.eot?#iefix) format('embedded-opentype'),
       url(Dhyana-Bold.woff2) format('woff2'),
       url(Dhyana-Bold.woff) format('woff'),
       url(Dhyana-Bold.ttf) format('truetype');
}